<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="widget-area"></div>
  <div class="content-area">
    <form class="custom_form" [formGroup]="myGroup">
      <h1 class="custom_form__title">
        <b>ПОДАННЯ ЗАЯВИ В ЕЛЕКТРОННОМУ ВИГЛЯДІ</b>
      </h1>
      <fieldset
        class="custom_form__fieldset fieldset"
        *ngFor="let section of sectionFields; let i = index"
      >
        <legend class="fieldset__legend">
          <b class="fieldset__legendNum"> {{ i + 1 }} </b>
          <b>{{ section.legend }}</b>
        </legend>
        <ng-container *ngFor="let fieldItem of section.fields">
          <ng-container *ngIf="fieldItem.type === 'select'; else defaultInput">
            <select
              class="fieldset__select"
              [name]="fieldItem.name"
              [id]="fieldItem.name"
              [formControlName]="fieldItem.name"
            >
              <option [value]="null">
                {{ fieldItem.placeholder }}
              </option>
              <option
                [value]="option.id"
                *ngFor="let option of fieldItem.options"
              >
                {{ option.label }}
              </option>
            </select>
          </ng-container>
          <ng-template #defaultInput>
            <input
              class="fieldset__input_text"
              type="text"
              [formControlName]="fieldItem.name"
              [placeholder]="fieldItem.placeholder"
            />
          </ng-template>
          <p
            class="fieldset__input_errors"
            *ngIf="isFormErrorsById(fieldItem.name)"
          >
            Будь ласка, заповніть це поле [Please fill out this field]
          </p>
        </ng-container>
      </fieldset>

      <fieldset class="custom_form__fieldset fieldset">
        <legend class="fieldset__legend">
          <b class="fieldset__legendNum">3</b> Подання заяви
        </legend>
        <div>Для об’єктів:</div>
        <p class="fieldset__part">
          <label
            class="fieldset__input_container"
            *ngFor="let firstRadioItem of firstChecklist"
          >
            <input
              type="radio"
              [name]="firstRadioItem.group"
              (click)="setPetitionTo($event)"
              [id]="firstRadioItem.id"
              [value]="firstRadioItem.id"
            />
            <span class="fieldset__input_checkmark"></span>
            <span class="label__wrap-normal">
              {{ firstRadioItem.description }}
            </span>
          </label>
        </p>
        <ng-container *ngIf="isBehaviorOption('options1')">
          <div>Звернення від:</div>
          <p class="fieldset__part">
            <label
              class="fieldset__input_container"
              *ngFor="let secRadioItem of secChecklist"
            >
              <input
                type="radio"
                [name]="secRadioItem.group"
                (click)="setPetitionFrom($event)"
                [id]="secRadioItem.id"
                [value]="secRadioItem.id"
              />
              <span class="fieldset__input_checkmark"></span>
              <span class="label__wrap-normal">
                {{ secRadioItem.description }}
              </span>
            </label>
          </p>
        </ng-container>
      </fieldset>

      <ng-container *ngIf="isBehaviorOption('options2')">
        <fieldset class="custom_form__fieldset fieldset">
          <legend class="fieldset__legend">
            <b class="fieldset__legendNum">4</b> Перелік документів для
            завантаження
          </legend>

          <!-- Automatisation -->
          <label
            class="fieldset__input_container"
            *ngFor="let documentItem of documentsForDownload"
            [for]="documentItem.id"
          >
            <input
              class="fieldset__input_load input_pdf_only"
              type="file"
              [name]="documentItem.id"
              [id]="documentItem.id"
              accept="application/pdf"
              (change)="changePdfFile($event)"
            />
            <span
              class="fieldset__input_checkmark"
              [ngClass]="{ checked: hasPdfFile(documentItem.id) }"
            ></span>

            <span class="label__wrap-normal ">
              {{ documentItem.description }}
            </span>
          </label>
        </fieldset>
      </ng-container>

      <!-- <input type="text" formControlName="firstName" />
      <p>{{ getFormValueById("firstName") }}</p> -->
      <div class="button_container">
        <input
          class="submit_button"
          type="submit"
          value="Відправити"
          (click)="isSubmitted = true"
          (click)="send()"
        />
      </div>
    </form>
  </div>
</div>
