// @import 'index';


body{

}
.container{
  display: flex;
}

.widget-area{
  display: flex;
  flex-direction: row;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
.content-area{
  display: flex;
  flex-direction: row;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: .2 0 auto;
  -ms-flex: 1.2 0 auto;
  flex: 1.2 0 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  padding: 1rem;
}
.custom_form {
  width: 65vw;
  background: white;

  &__title {
    margin-top: 20px;
    margin-bottom: 5px;
    color: #0071AD;
    font-size: 14px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    border-bottom: 6px solid #7fb6d5;
    transition: all 0.5s ease-in-out;
  }

  &__fieldset {
    margin-top: 2rem;
  }
}

.fieldset {
  border: 1px solid #0071AD;
  padding: 2rem 1rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  &__legend {
    width: auto;
    padding: 1rem;
    color: #0071AD;
    font-size: 14px;    
  }
  &__legendNum{
    font-size: 26px;
  }
  &__part{
    display: flex;
    flex-direction: column;    
    padding: 1rem 0;
  }
  &__input_text {
    width: 100%;
    border: 1px solid #666;
    padding: 0.25rem;
    margin-bottom: 1rem;
  }

  &__input_errors {
    color: red;
    width: 100%;
    padding: 0.25rem;
    margin-bottom: 1rem;
  }
  &__select{
    width: 100%;
    border: 1px solid #666;
    padding: 0.25rem;
    margin-bottom: 1rem;
  }
  &__input_label{
    display: flex;
    align-items: center;
    margin: 0 0 .4rem;
    width: auto;
  }
  &__label__load{
    display:flex;
    flex-wrap: wrap;
  }
}
.button_container{
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem;
}
.submit_button{
  background: #b6b6b6;
  border-radius: 20px;
  text-transform: none;
  line-height: 8px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  outline: none;
  padding: .5rem 3rem;
}

// ***************************************** Custom Checkmark *****************************************

/* The container */
.fieldset {

  &__input_container {
    display: flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    
    /* On mouse-over, add a grey background color */
    &:hover input ~ .fieldset__input_checkmark {
      background-color: #ccc;
    }
  
    /* Cursor for all nested elements */
    & * {
      cursor: pointer;
    }
  
    /* Hide the browser's default checkbox */
    & input {
      position: absolute;
      opacity: 0;
      height: 0rem;
      width: 0rem;
    }

    /* Show the checkmark when checked */
    & input:checked ~ .fieldset__input_checkmark:after,
    & .fieldset__input_checkmark.checked {
      display: flex;
    }
    
    /* Style the checkmark/indicator */
    & .fieldset__input_checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    /* When the checkbox is checked, add a blue background */
    & input:checked ~ .fieldset__input_checkmark, // for hidden default radio/checkbox input
    & input ~ .fieldset__input_checkmark.checked // for custom checkmark with class checked
    {
      background-color: #0071AD;
    }
  }

  /* Create a custom checkbox */
  &__input_checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;

    /* Create the Checkmark/indicator (hidden when not checked) */
    &:after {
      content: "";
      position: absolute;
      display: none;
    }

    &.checked:after {
      display: flex;
    }
  }

}

.label__wrap-normal{
  white-space: inherit!important;
}


// ***************************************** End Custom Checkmark *****************************************

// Reactive Form 
.custom_form {
  &.ng-dirty.ng-invalid { //self form
    .custom_form__title {
      border-bottom-color: orangered;
    }
  }
  
  & .ng-dirty.ng-invalid { // child controls of form
    border: 1px orangered solid;
  }
}